@use './scss/variables';
@use './scss/fonts';
@use './scss/typography';
@use './scss/containers';
@use './scss/layout';
@use './scss/scroll';

@use './scss/nav';
@use './scss/video';
@use './scss/bubbles';
@use './scss/warming-up';

#root {
  width: 100%;
  font-family: 'Stabil Grotesk';
  font-weight: 800;
  text-align: center;
  overflow-x: hidden;
}

.main {
  margin: 50vh 2vw 0vw 2vw;

  @media (min-width: 768px) {
    margin: 50vh 8vw 0vw 8vw;
  }
}