@use './scss/variables';
@use './scss/fonts';
@use './scss/typography';
@use './scss/containers';
@use './scss/layout';
@use './scss/scroll';

@use './scss/nav';
@use './scss/video';
@use './scss/bubbles';

#root {
  width: 100%;
  font-family: 'Stabil Grotesk';
  font-weight: 800;
  text-align: center;
  overflow-x: hidden;
}

.main {
  margin: 40vh 0;
}