:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
}

body,
section,
nav,
div,
a,
p,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
button,
ul,
li,
ol,
span,
textarea,
input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
}

body {
  background-color: black;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}