.bubbles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 8vw;
    margin-bottom: 20vw;

    .wobbler {
        position: relative;
    }

    // wobblers
    > :nth-child(2),
    > :nth-child(4),
    > :nth-child(6),
    > :nth-child(8),
    > :nth-child(10),
    > :nth-child(12),
    > :nth-child(14),
    > :nth-child(16),
    > :nth-child(18),
    > :nth-child(20) {
        top: 20vw;
    }

    .bubble {
        position: relative;
        padding: 0;
        border-radius: 50%;
        width: 36vw;
        height: 36vw;
        border: 1px solid white;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30vw;
            height: 30vw;
        }

        h5 {
            font-size: 3.5vw;
        }
    }


    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2vw;

        .bubble {
            position: relative;
            margin: 0;
            margin-bottom: 7vw;
        }

        .wobbler {
            top: 0;
        }

        > :nth-child(2),
        > :nth-child(5),
        > :nth-child(8),
        > :nth-child(11),
        > :nth-child(14),
        > :nth-child(17),
        > :nth-child(20),
        > :nth-child(23) {
            top: 12vw;
        }

        .bubble {
            width: 20vw;
            height: 20vw;

            margin-bottom: 2vw;

            img {
                width: 18vw;
                height: 18vw;
            }

            h5 {
                width: 25vw;
                font-size: 1.5vw;
            }
        }
    }

    @media (min-width: 1440px) {
        .bubble {
            width: 18vw;
            height: 18vw;

            img {
                width: 15vw;
                height: 15vw;
                margin-bottom: 0vw;
            }

            h5 {
                width: 25vw;
                font-size: 1.2vw;
            }
        }
    }


}

.awards {
    .bubble {
        transition: background-color 0.3s ease-out, transform 0.5s ease-out;

        img {
            width: 25vw;
            height: 13vw;
            transition: filter 0.3s ease-out, transform 0.5s ease-out;
            object-fit: contain;
            object-position: bottom;
            margin-bottom: 1vw;
        }

        h5 {
            color: white;
            transition: color 0.3s ease-out;
            font-size: 3.5vw;
            font-weight: 500;
        }

        &:hover {
            background-color: white;
            transform: scale(1.1);

            img {
                fill: black;
                transform: scale(1.1);
                filter: invert(1)
            }

            h5 {
                color: black;
            }
        }

        @media (min-width: 768px) {
            img {
                width: 16vw;
                height: 7vw;
            }

            h5 {
                font-size: 2vw;
            }
        }

        @media (min-width: 1440px) {
            img {
                width: 12vw;
                height: 5vw;
            }

            h5 {
                font-size: 1.5vw;
            }
        }
    }
}


.people {
    .bubbles {
        padding-bottom: 20vw;

        .bubble {
            border: none;

            img {
                width: 40vw;
                height: 40vw;
                margin-bottom: 2vw;
            }

            h5 {
                font-weight: normal;
                width: 80vw;
                font-size: 3.2vw;

                strong {
                    font-weight: 800;
                }
            }

            margin-bottom: 15vw;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 8vw;
            padding-bottom: 5vw;

            .bubble {
                margin-bottom: 2vw;

                img {
                    width: 22vw;
                    height: 22vw;
                    margin-bottom: 2vw;
                }

                h5 {
                    width: 25vw;
                    font-size: 1.5vw;
                }
            }
        }

        @media (min-width: 1440px) {
            row-gap: 4vw;

            .bubble {
                margin-bottom: 1vw;

                img {
                    width: 18vw;
                    height: 18vw;
                    margin-bottom: 0.5vw;
                }

                h5 {
                    width: 25vw;
                    font-size: 1.2vw;
                }
            }
        }
    }
}