.bubbles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 2vw;
    margin-bottom: 20vw;

    // 
    // 2 on top
    // 1 in middle
    // 2 on bottom
    // 
    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(4),
    > :nth-child(5),
    > :nth-child(6),
    > :nth-child(7) {
        grid-column: span 3;
    }


    > :nth-child(2),
    > :nth-child(4),
    > :nth-child(6) {
        margin-right: 30vw;
    }

    > :nth-child(1),
    > :nth-child(3),
    > :nth-child(5),
    > :nth-child(7) {
        margin-left: 30vw;
    }


    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 10vw;


        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3),
        > :nth-child(4),
        > :nth-child(5),
        > :nth-child(6),
        > :nth-child(7) {
            margin: 0 0 3vw 0;
        }

        // 
        // 3 on top
        // 2 on bottom
        // 
        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3) {
            grid-column: span 2;
        }

        > :nth-child(4),
        > :nth-child(5) {
            grid-column: span 3;
        }

        > :nth-child(4) {
            margin-left: 13vw;
        }

        > :nth-child(5) {
            margin-right: 13vw;
        }
    }

    @media (min-width: 1440px) {

        margin-left: 5vw;
        margin-right: 5vw;
    }

    .bubble {
        position: relative;
        padding: 0;
        border-radius: 50%;
        width: 60vw;
        height: 60vw;
        border: 1px solid white;

        display: flex;
        align-items: center;
        justify-content: center;

        .wobbler {
            position: relative;
        }

        svg {
            fill: #fff;
            width: 17vw;
            height: 17vw;
        }

        h5 {
            color: white;
            transition: color 0.3s ease-out;
            font-size: 2vw;
            font-weight: 500;


            & strong {
                font-weight: 800;
            }
        }

        @media (min-width: 768px) {
            width: 20vw;
            height: 20vw;
        }

        @media (min-width: 1440px) {
            width: 15vw;
            height: 15vw;
            margin-bottom: 0vw;

            svg {
                width: 12vw;
                height: 12vw;
            }
        }
    }
}

.awards {
    .bubble {
        transition: background-color 0.3s ease-out, transform 0.5s ease-out;
        ;

        img {
            width: 16vw;
            height: 7vw;
            transition: filter 0.3s ease-out, transform 0.5s ease-out;
            object-fit: contain;
            object-position: bottom;
            margin-bottom: 1vw;
        }



        img {
            width: 12vw;
            height: 5vw;
        }


        h5 {
            color: white;
            transition: color 0.3s ease-out;
            font-size: 1.5vw;
            font-weight: 500;
        }

        &:hover {
            background-color: white;
            transform: scale(1.1);

            img {
                fill: black;
                transform: scale(1.1);
                filter: invert(1)
            }

            h5 {
                color: black;
            }
        }
    }
}


.people {
    margin-bottom: 10vw;

    .bubbles {

        .bubble {
            border: none;

            img {
                width: 50vw;
                height: 50vw;
                margin-bottom: 2vw;
            }

            h5 {
                width: 80vw;
                font-size: 3.5vw;
            }
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 0vw;

            > :nth-child(1),
            > :nth-child(2),
            > :nth-child(3),
            > :nth-child(4),
            > :nth-child(5),
            > :nth-child(6) {
                position: relative;
                grid-column: span 1;
                margin: 0;
                margin-bottom: 7vw;
            }

            > :nth-child(2),
            > :nth-child(5),
            > :nth-child(8) {
                top: 6vw;
            }



            .bubble {
                img {
                    width: 18vw;
                    height: 18vw;
                    margin-bottom: 2vw;
                }

                h5 {
                    width: 25vw;
                    font-size: 1.5vw;
                }
            }
        }

        @media (min-width: 1440px) {
            .bubble {
                img {
                    width: 15vw;
                    height: 15vw;
                    margin-bottom: 0vw;
                }

                h5 {
                    width: 25vw;
                    font-size: 1.2vw;
                }
            }
        }
    }
}