.text-block {
    margin-bottom: 5vw;
}

.hideMobile {
    display: none;

    @media (min-width: 768px) {
        display: inline-block;
    }
}

.grid-col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 2vw;
    column-gap: 2vw;

    margin-bottom: 3vw;
}