nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #000000FF, #00000000 100%);
    z-index: 1000;

    .lockup-created-by-dc {
        margin-top: 0.7rem;
        height: 1.2rem;
        width: auto;
    }

    .logo-dc {
        height: 3rem;
    }

    h5 {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1;
        margin-top: 0.7rem;

        strong {
            font-weight: bold;
        }
    }
}