.split-text {
    position: relative;

    .line {
        perspective: 30vw;
        position: relative;

        .word {
            display: inline-block;
            position: relative;
            transform-style: preserve-3d;

            .char {
                display: inline-block;
                transform-origin: 0.5em 0;
            }
        }
    }

}