@use './variables' as *;

body,
#root {
    font-size: 16px;
    line-height: 1.1;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 1280px) {
        font-size: 22px;
    }

    @media (min-width: 1440px) {
        font-size: 24px;
    }
}

h2 {
    position: relative;
    font-size: 12vw;
    line-height: 1.1;
    margin-bottom: 20vw;
    perspective: 20vw;
    letter-spacing: -0.03em;

    &.intro {
        font-size: 7vw;
    }
}

h3 {
    position: relative;
    font-size: 9vw;
    margin-bottom: 20vw;
    perspective: 20vw;
    letter-spacing: -0.02em;
}

@media (min-width: 768px) {
    h2 {
        font-size: 6.8vw;
        margin-bottom: 10vw;

    }

    h3 {
        font-size: 5.2vw;
        margin-bottom: 10vw;

        &.xl {
            font-size: 9vw;
        }
    }
}