.video-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20vw;

    .video {
        width: 100%;
        aspect-ratio: calc(16 / 9);
        overflow: clip;
        border-radius: 3vw;
    }

    h4 {
        margin-bottom: 2vw;
        font-size: 2.5vw;
        font-weight: 500;
        text-align: left;
        margin-left: 3vw;

        strong {
            font-weight: 800;
        }
    }
}